.karatachi table {
  border-collapse: collapse !important;
  /*table-layout: fixed !important;*/
  padding: 0px !important;
  margin: 0px !important;
}

.karatachi .outer_row {
  background: transparent !important;
}

.karatachi .outer_cell {
  background: transparent !important;
  border: none 0px transparent !important;
  text-align: left !important;
  vertical-align: top !important;
}

.karatachi td {
  white-space: nowrap !important;
  padding: 0px !important;
  margin: 0px !important;
  border-top: none 0px transparent !important;
  border-left: none 0px transparent !important;
}

.karatachi td.selected {
  background-color: #e0e0ff !important;
}

.karatachi .contextmenu {
  position: absolute;
  width: 120px;
  z-index: 9999;
  border: solid 1px #CCC;
  background: #EEE;
  padding: 0px;
  margin: 0px;
  left: -9999px;
  top: -9999px;
  display: block;
}

.karatachi .contextmenu a {
  color: #333;
  text-decoration: none;
  display: block;
  line-height: 20px;
  height: 20px;
  background-position: 6px center;
  background-repeat: no-repeat;
  outline: none;
  padding: 1px 5px;
  padding-left: 28px;
}

.karatachi .contextmenu div.hover a {
  color: #FFF;
  background-color: #3399FF;
}

.karatachi .contextmenu div.active a {
  color: #FFF;
  background-color: #0066AA;
}

.karatachi .contextmenu div.disabled a {
  color: #AAA;
  cursor: default;
}

.karatachi .contextmenu div.hover.disabled a {
  background-color: transparent;
}

.karatachi .contextmenu div.separator {
  border-top: solid 1px #CCC;
}

.karatachi .contextmenu div.copy a {
  background-image: url(page_white_copy.png);
}