<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%t] %-5p %c{10} - %m%n%ex</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/data/log/karatachi_%d.log</fileNamePattern>
      <maxHistory>0</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%t] %-5p %c - %m%n%ex</pattern>
    </encoder>
  </appender>
  <logger name="org.seasar">
    <level value="INFO" />
  </logger>
  <logger name="org.karatachi">
    <level value="INFO" />
  </logger>
  <root>
    <level value="ERROR" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
