.karatachi-progress {
  display: block;
  position: relative;
  overflow: hidden;
  height: 16px;
  background: url("grey-fade.gif");
  border: solid 1px #666666;
}

.karatachi-progress .bar {
  display: block;
  position: absolute;
  height: 100%;
  background-image: url("pink-stripes.png");
  background-color: #ED0A72;
  background-position: top right;
  border-right: 1px solid #ED0A72;
}

.karatachi-progress .label {
  display: block;
  position: absolute;
  width: 100%;
  line-height: 16px;
  color: white;
  font-weight: bold;
  font-size: x-small;
  font-family: "Verdana";
  text-align: center;
}